btop
dconf
discord
pulse
systemd
Thunar
yay
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
neofetch
nvim-gtk
cef_user_data
ibus
vlc
gtk-4.0
KDE
kde*
libaccounts-glib
session
xsettingsd
Trolltech.conf
baloofilerc
bluedevilglobalrc
gtkrc*
kactivityman*
kc*
kglobalshortcutsrc
ksmserverrc
ktimezonedrc
kw*
plasma*
powermanagementprofilesrc
systemsettingsrc
YouTube Music
