cura
dconf
go
mirage
neofetch
nwg-look
pulse
sqlitebrowser
xfce4/xfconf
xsettingsd
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
vlc
rncbc.org
libreoffice
QtProject.conf
VSCodium
composer
google-chrome
blender
cpupower_gui
glib-2.0
obs-studio
systemd
cef_user_data
