configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{name}";
  font: "JetBrainsMono Nerd Font Medium 15";
  modi: "window,run,drun";

  show-icons: true;
  icon-theme: "Breeze";
}

@theme "onedark.rasi"
//@theme "simple.rasi"
